{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>TransL8r</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static "icon.gif"%}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static "icon.gif"%}" type="image/x-icon">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body, h1, h2, h3, h4, h5, h6 {
      font-family: "Raleway", sans-serif;
    }

    body, html {
      height: 100%;
      line-height: 1.8;
    }
    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    /* Adjust padding for the navbar */
    .navbar {
      padding: 1.5rem;
    }

    /* Adjust padding for the navbar links */
    .navbar-item {
      padding: 1rem;
    }
    /* Adjust margin for the team section */
    #team {
      margin-top: 3rem;
    }

    /* Adjust padding for the contact form */
    #contact {
      padding: 3rem 16px;
    }

    .navbar-brand {
    background-position: center;
    background-size: 20vh;
    width:105px;
    height: 80px;
    background-clip: unset;
    }

    .learn-more-button::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.learn-more-button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.learn-more-button::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  z-index: -1;
  transition: transform .3s ease;
  background-color: #F05941;
  border: none;
  color: #91a5b8;
}

.learn-more-button {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
}
.button.is-primary {
    background-color: #91a5b8;
    border-color: transparent;
    color: #fff;
}
.translation-box{
  display:flex;
  width: 100%;
  height: 100%;
  margin: 20px;
}
.textarea{
  display: flex;
  width: 250px;
  {% comment %} margin-left: -20px; {% endcomment %}
  {% comment %} margin-right: 30px; {% endcomment %}
  padding: 20px;
}
#inputText{
  margin-left: -35px;

}
#translatedText{
  margin-right: -35px;

}
#translate-btn{
  margin-left: 150px;
  width: 30%;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #91a5b8;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}
#scrollUpBtn {
  margin-left: 1220px;
}
/* Style the footer */
footer {
  background-color: #F05941;
  padding: 10px;
  text-align: center;
  color: white;
}


  </style>
</head>
<body>

<!-- Navbar (sit on top) -->
<nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand" style="background-image: url('{% static "TransL8R logo.png"%}')";>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar" onclick="toggleNavbar()">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- Right-sided navbar links -->
  <div id="myNavbar" class="navbar-menu">
    <div class="navbar-end  has-shadow" >
      <a href="#team" class="navbar-item" style="color: #22092C;"><i class="fa fa-user"></i> TEAM</a>
      <a href="#translate" class="navbar-item" style="color: #22092C;"><i class="fa fa-language" style="color: #22092C;"></i> TRANSLATE</a>
      <a href="#contact" class="navbar-item" style="color: #22092C;"><i class="fa fa-envelope"></i> CONTACT</a>
    </div>
  </div>
</nav>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="navbar is-white is-fixed-top" role="navigation" aria-label="main navigation" style="display: none;" id="mySidebar">
  <div class="navbar-end has-shadow">
    <a href="javascript:void(0)" onclick="toggleNavbar()" class="navbar-item is-large">Close ×</a>
    <a href="#team" onclick="toggleNavbar()" class="navbar-item">TEAM</a>
    <a href="#translate" onclick="toggleNavbar()" class="navbar-item">TRANSLATE</a>
    <a href="#contact" onclick="toggleNavbar()" class="navbar-item">CONTACT</a>
  </div>
</nav>
<hr> </hr>
<!-- Header with full-height image -->
<header class="hero is-fullheight-with-navbar is-primary is-bold" style="background-image: url('{% static "background.png"%}')">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1 is-size-3-mobile" style="color: #22092C;">
        TransL8R : The Polyglot's Babel Fish.
      </h1>
      <h2 class="subtitle is-3 is-size-5-mobile" style="color: #22092C;">
        Breaking the code of global communication.
      </h2>
      <a href="#about" class="button is-hovered is-light is-rounded is-large learn-more-button" style="color: #22092C;">Learn more</a>

    </div>
  </div>
</header>
<hr> </hr>
<!-- About Section -->
<section class="section" id="about">
  <div class="container">
    <h3 class="title is-3 has-text-centered">About TransL8R :</h3>
    <h1>               </h1>
    <h2 class="subtitle is-5 is-bold has-shadow has-text-centered mb-5">- The story behind the name - </h2>
    <!-- Story Paragraph -->
    <div class="columns is-centered">
      <div class="column is-half">
        <p class="has-text-centered mt-4">
          Embracing the whimsical charm of Douglas Adams' "The Hitchhiker's Guide to the Galaxy," TransL8R proudly adopts the title of the polyglot's Babel Fish. In this delightful nod to the literary realm, TransL8R transforms the mundane act of translation into a nerdy and playful adventure. The Babel Fish, a fictional creature from Adams' masterpiece, possesses the extraordinary ability to instantly translate any language in the universe. Similarly, TransL8R, with its witty play on words, becomes the go-to linguistic companion for users navigating the diverse expanse of languages. The inclusion of this nerdy touch on the website not only pays homage to a beloved sci-fi classic but also adds a delightful twist to the serious business of language translation. It's a nerdy badge of honor, inviting users to embark on a linguistic journey with a touch of literary flair.
        </p>
      </div>
    </div>
  </div>
</section>
<hr> </hr>
<!-- Translate Section -->
<section class="#translate" id="translate">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-4">
        <h1 class="title is-centered">Translate</h1>

        <form id="translationForm">
          <div class="field">
            <label class="label">Source Language</label>
            <select class="input" id="sourceLanguage">
              <option value="es">Spanish</option>
              <option value="fr">French</option>
              <option value="en">English</option>
              <option value="ar">Arabic</option>
              <option value="zh">chinese</option>
              <option value="no">Norwegian</option>
              <option value="de">German</option>
              <option value="it">Italian</option>
              <option value="ja">Japanese</option>
              <option value="ko">Korean</option>
              <option value="pt">Portuguese</option>
            </select>
          </div>

          <div class="field">
            <label class="label">Target Language</label>
            <select class="input" id="targetLanguage">
              <option value="es">Spanish</option>
              <option value="fr">French</option>
              <option value="en">English</option>
              <option value="ar">Arabic</option>
              <option value="zh">chinese</option>
              <option value="no">Norwegian</option>
              <option value="de">German</option>
              <option value="it">Italian</option>
              <option value="ja">Japanese</option>
              <option value="ko">Korean</option>
              <option value="pt">Portuguese</option>
            </select>
          </div>
          <div class="translation-box">
          <div class="field">
            <label class="label">Input Text</label>
            <textarea class="textarea" id="inputText" placeholder="Enter text to translate"></textarea>
          </div>

          <div class="field">
            <label class="label">Translated Text</label>
            <textarea class="textarea" id="translatedText" placeholder="Translation result"></textarea>
          </div>
          </div>

          <button class="button is-primary" id="translate-btn"type="button" onclick="translateText()">Translate</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  async function translateText() {
    const inputText = document.getElementById('inputText').value.trim();
    if (!inputText) return;

    const sourceLanguage = document.getElementById('sourceLanguage').value;
    const targetLanguage = document.getElementById('targetLanguage').value;

    const url = 'https://text-translator2.p.rapidapi.com/translate';
    const options = {
      method: 'POST',
      headers: {
        'content-type': 'application/x-www-form-urlencoded',
        'X-RapidAPI-Key': '899a610397msh8c4ee787f500f98p18629ejsnad6ac94f4aa3',
        'X-RapidAPI-Host': 'text-translator2.p.rapidapi.com'
      },
      body: new URLSearchParams({
        source_language: sourceLanguage,
        target_language: targetLanguage,
        text: inputText
      })
    };

    try {
      const response = await fetch(url, options);
      const data = await response.json();
      const translatedText = data.data.translatedText;
      document.getElementById('translatedText').value = translatedText;
    } catch (error) {
      console.error(error);
    }
  }
</script>

<hr> </hr>
<!-- Team Section -->
<section class="section team-section" id="team">
  <div class="container">
    <h3 class="title is-3 has-text-centered">Team</h3>
    <p class="subtitle is-5 has-text-centered"> - The sole developer - </p>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'onyx.png' %}" alt="Ons Hafi" class="team-member-image">
            </figure>
          </div>
          <div class="card-content has-text-centered">
            <div class="content">
              <h1 class="title is-4 team-member-title">Ons Hafi</h1>
              <p class="subtitle is-6 team-member-title">Software Engineering Student</p>
              <p>TransL8R, the polyglot's Babel fish, is my inaugural journey into the realm of coding. 
                Inspired by the book, it carries a nerdy touch that resonates with my passion for both front-end and back-end development.</p>
              <p style="margin: 20px 0;"> 
                <a  style="margin: 10px;" href="https://twitter.com/AzgedaSeya"><i class="fa fa-twitter"></i></a>  
                <a  style="margin: 10px;" href="https://www.linkedin.com/in/onshafi/"><i class="fa fa-linkedin"></i></a> 
                <a  style="margin: 10px;" href="https://github.com/onyxvail/TransL8R--Portfolio-Project"><i class="fa fa-github"></i></a> 
              </p>
              <button class="button is-black" style="width: 100%;">
                <i class="fa fa-paper-plane"></i> Contact
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



      </div>
    </div>
  </div>
</section>
<hr> </hr>
<!-- Contact Section -->
<section class="section is-light" id="contact">
  <div class="container">
    <h3 class="title is-3 has-text-centered">CONTACT</h3>
    <p class="subtitle is-5 has-text-centered">In the event of a glitchy feature or a pesky bug, or if you feel like dropping a review,
      don't hesitate to reach out! Let's synchronize our neural networks! Beam us a transmission.</p>
    <div class="columns is-centered is-flex is-justify-content-center">
      <div class="column is-half">
        <form action="" method="post" >
          {% csrf_token %}
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Your first name.." name="firstname" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Your last name.." name="lastname" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Your email address.." name="email" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Country</label>
            <div class="control">
              <div class="select">
                <select name="country" required>
                  <option value="Palestine">Palestine</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="usa">USA</option>
                  <option value="Nigeria">Nigeria</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Subject</label>
            <div class="control">
              <textarea class="textarea" placeholder="Write something.." name="subject" required></textarea>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-black" type="submit">
                <i class="fa fa-paper-plane"></i> SUBMIT
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  // Toggle between showing and hiding the sidebar when clicking the menu icon
  function toggleNavbar() {
      var navbarBurger = document.querySelector('.navbar-burger');
      var navbarMenu = document.querySelector('.navbar-menu');
      navbarBurger.classList.toggle('is-active');
      navbarMenu.classList.toggle('is-active');
  }
</script>


<script>
  // Toggle between showing and hiding the sidebar when clicking the menu icon
  function toggleNavbar() {
    var navbarBurger = document.querySelector('.navbar-burger');
    var navbarMenu = document.querySelector('.navbar-menu');
    navbarBurger.classList.toggle('is-active');
    navbarMenu.classList.toggle('is-active');
  }
</script>
<hr> </hr>
<!-- Scroll-up button -->
<button id="scrollUpBtn" class="button is-primary btn has-shadow"onclick="scrollToTop()">Scroll Up</button>


<script>
  window.onscroll = function() { scrollFunction() };

  function scrollFunction() {
    var scrollUpBtn = document.getElementById("scrollUpBtn");
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      scrollUpBtn.style.display = "block";
    } else {
      scrollUpBtn.style.display = "none";
    }
  }

  function scrollToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

<footer>
  <p>Alx SE - Holberton</p>
</footer> 

</body>
</html>